name: Docker Image CI

on: [push]

jobs:

  build:
    name: Build container
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with: 
        username:  ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v2
      with: 
        context: .
        push: true
        tags: marctv/minecraft-papermc-server:beta, marctv/minecraft-papermc-server:${{ github.run_number }}